* {
    margin: 0;
    padding: 0;
    font-family: "Lobster", cursive;
  }

  body {
    background-color: #EAEDED;
  }
  
  hr.line1 {
    border: 0.5px solid black;
    background-color: black;
    margin-left: 2.2rem;
    width: 29rem;
    margin-top: 0.3rem;
  }
  
  hr.line2 {
    border: 0.5px solid black;
    background-color: black;
    margin-left: 5rem;
    width: 19rem;
    margin-top: 0.3rem;
  }
  
  h1 {
    margin-top: 1rem;
    text-align: center;
    font-size: 3rem;
  }
  
  .bag {
    text-align: center;
    position: relative;
    margin-top: 1rem;
    font-weight: bolder;
    font-size: 2.5rem;
  }
  
  .container {
    margin: auto;
    margin-top: 1.8rem;
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    border-radius: 15px;
    background-color: #eaeded;
    height: 85vh;
    width: 75vw;
  }
  
  .page {
    margin: auto;
    height: 70vh;
    width: 65vw;
    overflow: scroll;
    background-color: white;
    border-radius: 15px;
  }
  
  .details {
    position: relative;
    margin-top: 2.5rem;
    margin-left: 2rem;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  
  span {
    margin-left: 3rem;
  }
  
  .summary {
    margin-top: 2.5rem;
    margin-left: 2rem;
  }

  .order {
      margin-left: 5rem;
  }

  /* 1244, 1269 */

  @media only screen and (max-width: 1400px) {
    .grid {
      display: flex;
      flex-direction: column;
    }
  }
  @media only screen and (max-width: 900px) {
    .details {
      display: flex;
      flex-direction: column;

    }
  }

img {
  border: 1px solid black;
  padding: 2px;
  margin-top: 1.2rem;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}
  
.itmdet {
  display: flex;
  flex-direction: row;
}

.data {
  margin-top: 3rem;
  margin-left: -1rem;
}

.itPrice {
  margin-left: 2.8rem;
}

.quant{
  margin-left: 2.5rem;
}

.mainCharges {
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 0.8rem;
}

.scharges {
  margin-left: 4.8rem;
}

.tmoney {
  margin-left: 10rem;
}
.smoney {
  margin-left: 7.5rem;
  margin-top: 1rem;
}

#plus {
  font-size: 2rem;
  margin-left: 19.5rem;
  margin-bottom: 1rem;
}

.sum {
  margin-top: 1rem;
  padding: 1rem;
  width: 17.2rem;
  height: 1rem;
  margin-left: 5rem;
  background-color: #5DA3FA;
  border-radius: 0.5rem;
}

.fsum {
  margin-left: 8rem;
}

#sum {
  margin-left: -0.5rem;
}

.checkout {
  margin-left: 5rem;
  margin-top: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 1rem;
  height: 3rem;
  width: 19rem;
  font-size: 2rem;
  border-radius: 1rem;
  color: white;
  background-color: #5DA3FA;
}

.checkout:hover, #trash:hover,#inc:hover, #dec:hover{
  opacity: 0.8;
  cursor: pointer;
}

.qbtn {
  width: 1.2rem;
  font-size: 15px;
  font-weight: bolder;
  padding: 1px;
}

#dec {
  margin-right: 0.5rem;
}
#inc {
  margin-left: 0.5rem;
}

#trash{
  margin-left: 2.8rem;
  position: absolute;
  margin-top: -2px;
  color: red;
  padding-right: 0.5px;
  width: 1.5rem;
  font-size: 1.2rem;
  border-style: none;
  background-color: white;
  
}


