
/* navbar css */

.nav-bar{
  padding: 10px 0px;
  margin-bottom: 2px;
  background-color:#5DA3FA;
  color: white;
  font-size:1.2em;
  font-weight: bold;
}
.signin{
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  margin: 0px 10px;
}
.signout{
  border: none;
  outline: none;
  width: 100%;
  background-color: transparent;
  font-size:1.3em;
}

/* popup css */
.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}


/*  */
.grid{
  display:grid;
  grid-template-columns: repeat(auto-fill ,minmax(350px,1fr));
  column-gap: 20px;
}
.carousel {
  max-height: 500px;
  /* max-width: 98%;
  margin-left:2%; */
  width: 100%;
}

.carousel-card {
  width: 100%;
}

@media only screen and (min-width: 1000px) {
  .Mens {
    margin-left: 50%;
  }
}

.search-button {
  margin-right: 20%;
}

.img1 {
  /* max-width: 600px;
  max-height: 450px;
  object-fit: contain; */
  width: 100%;
}
.img1 img {
  width: 100%;
  height: 100%;
}
.displayimg1 {
  opacity: 100%;
  color: white;
}

@media (max-width: 800px) {
  .carousel {
    max-width: 100%;
    margin-left: 0;
  }
}

.collection {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  /* height: 80vh; */
}
.title {
  font-size: 28px;
  margin-bottom: 25px;
}

/* .preview {
    display: flex;
    justify-content: space-between;
} */
